
.vs
.vscode
.idea
*.log
*.vcxproj.user
intermediate/
lib/
tidy/
compile_commands/
**/__pycache__/
executable/*

imgui.ini
inspector.json
compile_commands.json

external/NVIDIA/bin/11/nvcomp.dll
external/NVIDIA/bin/12/nvcomp.dll
*.dll
*.so
*.dylib
